// .usa_box {
//   width: 90%;
//   padding-left: 20%;
// }
//
// .scopes {
//   width: 90%;
//   padding-left: 20%;
// }

#home_title {
  text-align: center;
}

.overlay-menu {
  text-align: center;
}

#rating_icon {
  // float: right;
  height: 30px;
  width: auto;
}
