<h3>Sup babes</h3>


<ul>
  <% @products.each do |product| %>
    <li><%= link_to product.name, product_path(product) %>, Reviews: <%= product.reviews.length %>, Average Rating: <%= product.average_rating %> </li>
  <% end %>
</ul>
